@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<img src="~/img/JoelHiltonHeadshot.jpg" />

<div>
    <a asp-controller="Home" asp-action="FillOutMovieForm">Fill out new movie form here</a>
</div>

<div>
    <a asp-controller="Home" asp-action="MovieList">View Movie List</a>
</div>